{% extends 'base.html' %}

{% block conteudo %}
<h1>Contato</h1>

<p>Obrigado por visitar nossa página! Se você tiver alguma dúvida, sugestão ou apenas quiser entrar em contato, não hesite em enviar uma mensagem para um dos endereços de e-mail listados abaixo. Responderemos o mais rápido possível.</p>

    <div class="contact-info">
        <p><strong>Email:</strong></p>
        <ul>
            <li><a href="mailto:karolina.barros@escolar.ifrn.edu.br">karolina.barros@escolar.ifrn.edu.br</a></li>
            <li><a href="mailto:eric.y@escolar.ifrn.edu.br">eric.y@escolar.ifrn.edu.br</a></li>
            <li><a href="mailto:l.mirelly@escolar.ifrn.edu.br">l.mirelly@escolar.ifrn.edu.br</a></li>
        </ul>
        <p><strong>Telefone:</strong></p>
        <p>(84) 99999-9999</p>
    </div>
{% endblock %}