{% extends 'base.html' %}

{% block conteudo %}
<h1>Páginas de Doações para Doenças Crônicas no Brasil</h1>

    <div class="resource-section">
        <h2>Organizações e Iniciativas</h2>
        <p>Abaixo estão algumas organizações que aceitam doações para apoiar pessoas com doenças crônicas:</p>
        <ul>
            <li><a href="https://www.abcd.org.br/" target="_blank">ABCD - Associação Brasileira de Diabetes</a> - Apoio e informações sobre diabetes.</li>
            <li><a href="https://www.fundacaocancer.org.br/" target="_blank">Fundação do Câncer</a> - Contribuições para pesquisas e suporte a pacientes com câncer.</li>
            <li><a href="https://www.abrale.org.br/" target="_blank">ABRALE - Associação Brasileira de Linfoma e Leucemia</a> - Ajuda a pacientes com câncer hematológico.</li>
            <li><a href="https://www.abrace.org.br/" target="_blank">ABRACE - Associação Brasileira de Assistência ao Câncer</a> - Apoio a pacientes com câncer e suas famílias.</li>
            <li><a href="https://www.fundacaoabrigo.org.br/" target="_blank">Fundação Abrigo</a> - Apoio a pessoas com doenças crônicas e suas famílias.</li>
        </ul>
    </div>

    <div class="resource-section">
        <h2>Como Contribuir</h2>
        <p>Além de doações financeiras, você pode ajudar de outras maneiras:</p>
        <ul>
            <li><a href="https://www.voluntariar.org.br/" target="_blank">Voluntariado</a> - Encontre oportunidades de voluntariado em organizações de saúde.</li>
            <li><a href="https://www.doacoes.org.br/" target="_blank">Plataforma de Doações</a> - Contribua com campanhas de arrecadação de fundos.</li>
            <li><a href="https://www.campanhasolidaria.org.br/" target="_blank">Campanhas Solidárias</a> - Participe de campanhas que ajudam pessoas com doenças crônicas.</li>
        </ul>
    </div>

{% endblock %}