{% extends 'base.html' %}

{% block conteudo %}
<h1>Recursos Úteis sobre Doenças Crônicas</h1>

<div class="resource-section">
    <h2>Informações Gerais</h2>
    <p>Para entender melhor as doenças crônicas e suas implicações, confira os seguintes recursos:</p>
    <ul>
        <li><a href="https://www.saude.gov.br/saude-de-a-z/doencas-cronicas-nao-transmissiveis" target="_blank">Ministério da Saúde - Doenças Crônicas Não Transmissíveis</a></li>
        <li><a href="https://www.inca.gov.br/controle-do-cancer-do-colo-do-utero/acoes-de-controle/doencas-cronicas-nao-transmissiveis" target="_blank">INCA - Doenças Crônicas Não Transmissíveis</a></li>
        <li><a href="https://www.unasus.gov.br/cursos/curso/45542" target="_blank">UNA-SUS - Curso sobre Doenças Crônicas Não Transmissíveis</a></li>
    </ul>
</div>

<div class="resource-section">
    <h2>Condições Específicas</h2>
    <p>Explore informações detalhadas sobre condições específicas:</p>
    <ul>
        <li><a href="https://www.inca.gov.br/" target="_blank">INCA - Instituto Nacional de Câncer</a></li>
        <li><a href="https://www.diabetes.org.br/" target="_blank">SBD - Sociedade Brasileira de Diabetes</a></li>
        <li><a href="https://www.abeso.org.br/" target="_blank">ABESO - Associação Brasileira para o Estudo da Obesidade e da Síndrome Metabólica</a></li>
    </ul>
</div>

<div class="resource-section">
    <h2>Prevenção e Gestão</h2>
    <p>Saiba mais sobre como prevenir e gerenciar doenças crônicas:</p>
    <ul>
        <li><a href="https://www.saude.gov.br/saude-de-a-z/doencas-cronicas-nao-transmissiveis/prevenção" target="_blank">Ministério da Saúde - Prevenção de Doenças Crônicas</a></li>
        <li><a href="https://www.unasus.gov.br/cursos/curso/45542" target="_blank">UNA-SUS - Curso sobre Gestão de Doenças Crônicas</a></li>
    </ul>
</div>
{% endblock %}