{% extends 'base.html' %}

{% block conteudo %}

<h1>Perguntas Frequentes (FAQ)</h1>

<div class="faq-section">
    <h2>Sobre o Site</h2>
    <div class="question">1. O que é este site?</div>
    <div class="answer" id="faq1">
        Este site é uma plataforma de apoio para pessoas que vivem com doenças crônicas, oferecendo informações, recursos e uma comunidade de suporte.
    </div>

    <div class="question">2. Quem pode usar este site?</div>
    <div class="answer" id="faq2">
        Qualquer pessoa que tenha uma doença crônica ou que esteja interessada em aprender mais sobre como apoiar alguém com uma condição crônica pode utilizar o site.
    </div>
</div>

<div class="faq-section">
    <h2>Recursos e Apoio</h2>
    <div class="question">3. Que tipo de recursos estão disponíveis?</div>
    <div class="answer" id="faq3">
        Oferecemos artigos informativos e links para grupos de apoio e profissionais de saúde.
    </div>

    <div class="question">4. Como posso me conectar com outras pessoas?</div>
    <div class="answer" id="faq4">
        Você pode participar de grupos de apoio online para compartilhar experiências e fazer novas amizades.
    </div>
</div>

<div class="faq-section">
    <h2>Informações Adicionais</h2>
    <div class="question">5. Como posso entrar em contato com a equipe do site?</div>
    <div class="answer" id="faq5">
        Você pode nos contatar através da nossa página de contato, onde encontrará um formulário para enviar suas perguntas ou comentários.
    </div>

    <div class="question">6. O uso do site é gratuito?</div>
    <div class="answer" id="faq6">
        Sim, todos os recursos e informações disponíveis no site são gratuitos para os usuários.
    </div>
</div>

{% endblock %}