{% extends 'base.html' %}


{% block conteudo %}
    <section class="hero">
      <h1>Bem-vindo ao AMPARO</h1>
      <div class="hero-image"></div>
    </section>
    <section class="content">
      <div class="conteudo">
        <div class="conteudos">
          <div class="content-text">
            <h3>O que é o AMPARO?</h3>
            <p>O AMPARO é uma plataforma desenvolvida para auxiliar pessoas com doenças crônicas, seus familiares e profissionais de saúde. Nosso objetivo é facilitar o acesso a informações, apoio e doações para tratamentos.</p>
          </div>
          <div class="content-image">
          </div>
        </div>
        <div class="conteudos">
          <div class="content-image">
          </div>
          <div class="content-text">
            <h3>Como funciona?</h3>
            <p>Pacientes podem solicitar doações para tratamentos e cuidados médicos. Cuidadores podem visualizar e ajudar na distribuição de recursos. Profissionais de saúde oferecem orientação e suporte.</p>
          </div>
        </div>
        <div class="conteudos">
          <div class="content-text">
            <h3>Nosso compromisso</h3>
            <p>Estamos comprometidos em criar um ambiente seguro e colaborativo, onde cada usuário possa encontrar o suporte necessário para enfrentar desafios de saúde com dignidade e esperança.</p>
          </div>
          <div class="content-image">
          </div>
        </div>
      </div>
    </section>
{% endblock %}