{% extends 'base.html' %}

{% block conteudo %}
<div class="login">
  <div class="forms">
    <form action="{{url_for('autenticar')}}" method="POST">
      <h1>Login</h1>
        <label for="email" class="form-label">Email: </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu email">
        <label for="senha" class="form-label">Senha: </label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
      <button class="botaocadlog" type="submit">Entrar</button>
    </form>
  </div>
</div>
{% endblock %}