{% extends 'base.html' %}

{% block conteudo %}
</head>
<body class="sobre">

    <section class="quem-somos">
        <hr>
        <h2>QUEM SOMOS?</h2>
        <p>O AMPARO é um projeto desenvolvido por estudantes do Instituto Federal de Ciência e Tecnologia do Rio Grande do Norte, voltado ao apoio de pessoas com doenças crônicas. Sabemos que o diagnóstico de uma condição crônica traz desafios físicos, emocionais e práticos. Por isso, nossa missão é criar uma plataforma digital que ofereça suporte, conecte pacientes a profissionais de saúde e mobilize recursos para tratamentos adequados.</p>
        <hr>
    </section>
    <section class="rede-apoio">
        <div class="content">
            <div class="text-rede-apoio">
                <h2>REDE DE APOIO</h2>
                <p>O AMPARO é um espaço onde você pode esclarecer dúvidas, compartilhar relatos, solicitar apoio financeiro e também oferecer ajuda àqueles que precisam. Juntos, criamos uma rede de apoio para transformar vidas e enfrentar os desafios das doenças crônicas.</p>
            </div>
        </div>
    </section>
    <section class="nosso-objetivo">
        <img src="/static/img/libelula-preta.svg" alt="">
        <div class="text-nosso-objetivo">
            <h2>NOSSO OBJETIVO</h2>
            <p>
                Nosso objetivo é facilitar o acesso a informações relevantes, promover a conexão com especialistas e criar uma rede de apoio para a arrecadação de recursos financeiros, contribuindo para que os tratamentos necessários sejam mais acessíveis. Queremos ser uma ferramenta que faça a diferença na vida de quem enfrenta esses desafios, oferecendo suporte, orientação e solidariedade.
            </p>
        </div>
    </section>
</body>

{% endblock %}
